// .Form {
//   height: 90%;
//   width: 90%;
//   position: absolute;
//   left: 5%;
//   top: 5%;
//   background-color: rgb(255, 255, 255);
// }
.content{
    position: relative;
    width:80%;
    
  }
  .contents{
    position: relative;
    width:100%;
    left:0%;
    top:20%;
  }
  .autos {
    position: relative;
    width: 60%;
    left: 35%;
    margin-bottom:30px;
  }
  
  .autof {
    position: relative;
    width: 60%;
    left: 38%;
  }
  
  .formEx {
    position: relative;
    left: 22%;
    margin-top: calc(10vh - 0px);
  }
  
  .demo-upload-list {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    position: relative;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    margin-right: 4px;
  }
  
  .demo-upload-list img {
    width: 270px;
    height: 220px;
  }
  
  .demo-upload-list-cover {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6);
  }
  
  .demo-upload-list:hover .demo-upload-list-cover {
    display: block;
  }
  
  .demo-upload-list-cover i {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin: 0 2px;
  }
  .displayimg{
    // -moz-box-shadow: 20px 20px 10px #1b1a1a;
    // -webkit-box-shadow: 2px 2px 10px #242222;
    // box-shadow: 1px 1px 2px #7c7e7e, -1px -1px 2px #7c7e7e;
    float:right;
    position: absolute;
    width:274px;
    // height:00px;
    right:10%;
    top:8%;
    text-align: center;
    
    .display{
      position: relative;
      width:270px;
      height:238px;
      margin-left:1px;
      margin-bottom: 10px;
      padding-top:20px;
      padding-bottom:20px;
        -moz-box-shadow: 5px 5px 10px #1b1a1a;
    -webkit-box-shadow: 2px 2px 10px #242222;
    box-shadow: 1px 1px 2px #7c7e7e, -1px -1px 2px #7c7e7e;
    background-color: rgba(241, 241, 241, 0.4);
    }
    
    
  }
  .wrapper {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    
  }
  .code-row-bg{
    width: 100%;
  }
  
  .qrcode{
    // position: absolute;
    top:110%;
    // left:1.5%;
    right:0%;
    
  }