.bottomButton {
    margin-top: 10px;
  }
  .bottom {
    margin-left: 39%;
    /* background-color: antiquewhite; */
  }
  .bottom1 {
    padding-top: 5px;
    margin-top: 5px;
  }
  .pagetitle {
    height: 5vh;
    left: 4%;
    position: relative;
    /* background-color: blueviolet; */
  }
  .Table {
    position: relative;
    width: 96%;
    margin-top: 3%;
    left: 2%;
  }
  .intru {
    position: relative;
    top: 25%;
    float: left;
    left: 10px;
  }
  .tablemain {
    /* background-color: rgba(102, 146, 191, 0.44); */
  
    border: solid 1px rgba(102, 146, 191, 0.68);
  
    border-radius: 10px;
  
    -moz-box-shadow: 2px 2px 1px #585858;
    -webkit-box-shadow: 2px 2px 1px #666565;
    box-shadow: 1px 1px 8px #7c7e7e;
  }
  .func {
    position: relative;
  
    right: 9%;
    float: right;
    top: 15%;
    /* background-color: #585858; */
  }
  .imgs {
    position: relative;
    left: 10%;
    width: 80%;
  }
  .autos {
    /* background-color: #7c7e7e; */
    position: relative;
    left: 31%;
  
    margin-top: 2vh;
  }
  
  .ivu-form .ivu-form-item-label {
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 15px;
    font-weight: bold;
    color: #495060;
    line-height: 1;
    padding: 10px 12px 10px 0;
    box-sizing: border-box;
  }
  .ivu-modal-wrap {
    // margin-top: -15%;
  }
  .smallModal {
    .ivu-modal-wrap {
      margin-top: -8%;
    }
  }
 
  .expand-row {
    margin-bottom: 16px;
  }
  .expand-key {
    font-weight: lighter;
  }
  .expand-value {
    /* font-size:22px; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    /* font-weight: bold; */
  }
  .spider {
    font-weight: bold;
  }
  .stitle {
    margin-left: 3px;
    margin-bottom: -8px;
  
    font-size: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bolder;
  }
  #method {
    font-size: 22px;
    font-weight: bolder;
    position: relative;
    float: right;
    right: 12%;
    /* top:1px; */
  }